.user-signup{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../../../assets/images/backgroun-image.jpeg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);

.info{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.749);
    

    .text{
        margin-left: 6rem;
        h1{
            font-size: 3.5rem;
            // font-size: 4rem;

            line-height: 2rem;
        }
        h5 {
            font-size: 1.6rem;
            margin:1rem 0 0.5rem 0;
        }
        
        p{
            font-weight: 600;
            font-size: large;
            line-height: 1.5rem;
        }
    }
    .image{
        width: 31rem;

        img {
            width:100%
        }
    }
}
form{
    display: flex;
    flex-direction:column;
    align-items: center;

    margin-top:2rem;
    background-color: rgba(173, 216, 230, 0.404);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: inset 0 0 4px 4px lightblue;


    .form-group {
        display:flex;
        width:100%;

    .form-control{
        display: flex;
        flex-direction:column;
        margin: 0.5rem 1rem;
        width:30rem ;

        label {
            font-size:large;
            font-weight: 600;
            line-height: 0.5rem;
            span{
                font-size: 1.2rem;
                color: rgb(255, 62, 62);

            }
        }
            input,select{
                font-size: large;
                color: rgba(0, 0, 0, 0.5);
                outline: none;
                margin: 1rem 0;
                padding:0.5rem;
                // border-radius: 10px;
                // border: 2px solid rgba(0, 0, 0, 0.5);
                border:none;
                background-color: transparent;
                border-bottom: 3px solid rgba(0, 0, 0, 0.5);

            }       
    }
    }
      input[type="button"] {
            background: linear-gradient(68.08deg, #9083D5 9.64%, #807593 92.49%);
            padding: 0.6rem;
            border: none;
            width: 25%;
            color: white;
            font-size: larger;
            border-radius: 10px;
            margin: 1rem 0;
        }
}

}