.user-home {
    .intro-section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .text {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 35rem;

            h1 {
                font-size: 3.6rem;
                font-weight: 600;
            }

            span {
                font-size: larger;
                padding: 2rem 0;
            }

            a {
                padding: 1rem 2rem;
                background-color: transparent;
                color: black;
                border-radius: 10px;
                font-size: larger;
                text-decoration: none;
                border: 1px solid gray;
            }
        }

        .image {
            width: 40rem;

            &>img {
                position: absolute;
                top: 7rem;
                transform: rotate(180deg);
                z-index: 1;
            }

            .person {
                img {
                    z-index: 100 !important;

                    &:first-child {
                        margin-left: 5rem !important;
                    }

                    &:last-child {
                        margin-left: -15rem !important;
                    }
                }

                display: flex;
            }
        }
    }

    .about-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;

        .image {}

        .text {
            margin-left: 10rem;
            width: 35rem;

            span {
                font-size: larger;
            }

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: x-large;
            }

            a {
                padding: 1rem 2rem;
                background-color: transparent;
                color: black;
                border-radius: 10px;
                font-size: larger;
                text-decoration: none;
                border: 1px solid gray;
            }
        }
    }

    .doctor-list-section {
        margin: 3rem 0;
        margin-top: 8rem;

        .header {
            position: relative;
            display: flex;
            justify-content: center;

            h1 {
            font-weight: 700;
                font-size: 3rem;
                text-align: center;
            }
        }

        .doctors-list {
            padding: 0 2rem;
            margin: 2rem 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;

            .card {
                display: flex;
                background-color: rgb(255, 255, 255);
                width: 25rem;
                padding: 1rem;
                box-shadow: 0 0 1px black;
                border-radius: 5px;
                margin: 1rem;

                .image {
                    img {
                        width: 5rem;
                        border-radius: 10px;
                        margin-right: 1rem;
                    }
                }

                .info {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;

                    strong {
                        font-size: x-large;
                    }

                    span {
                        font-size: larger;
                        margin: 0.2rem 0;
                    }

                    a {
                        padding: 0.3rem 1rem;
                        text-decoration: none;
                        background: linear-gradient(68.08deg, #9083D5 9.64%, #807593 92.49%);
                        width: fit-content;
                        border-radius: 10px;
                        color: white;
                        margin: 0.4rem 0;
                    }
                }
            }
        }
    }

    .contact-section {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .header {
            text-transform: capitalize;
            margin: 1rem 2rem;
            font-weight: 700;
            font-size: 2.5rem;
            text-align: center;
        }
        textarea {
            border: 2px solid gray;
        }
    }
}