
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

// $base-spacing-unit: 24px;
// $half-spacing-unit: $base-spacing-unit / 2;

// $color-alpha: #1772FF;
// $color-form-highlight: #EEEEEE;


// .admin-doctors-list-page {
//     .header {
//         padding: 1rem 5rem 0 5rem;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         a {
//             background: linear-gradient(68.08deg, #9083D5 9.64%, #807593 92.49%);
//             color: white;
//             box-shadow: 0 0 10px gray;
//             border: none;
//             font-size: x-large;
//             cursor: pointer;
//             text-decoration: none;
//             padding: 0.4rem 1rem;
//             border-radius: 10px;
//             font-size: large;
//         }
//     }

//     height: fit-content !important;

//     .doctors-list {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin: 1rem 0;
//         padding: 0 0 1rem 0;
        
        
//         .table {
//             border: 1px solid black;
//             height: 75vh;
//             width: 93%;
//             border: 1px solid $color-form-highlight;
//         }

//         .table-header {
//             display: flex;
//             width: 100%;
//             background: #000;
//             padding: ($half-spacing-unit * 1.5) 0;
//         }

//         .table-row {
//             display: flex;
//             width: 100%;
//             padding: ($half-spacing-unit * 1.5) 0;

//             &:nth-of-type(odd) {
//                 background: $color-form-highlight;
//             }
//         }

//         .table-data {
//             span {
//                 img {
//                     margin: 0 1rem;
//                     cursor: pointer;
//                 }
//             }
//         }

//         .table-data,
//         .header__item {
//             flex: 1 1 20%;
//             text-align: center;
//         }

//         .header__item {
//             text-transform: uppercase;
//         }

//         .filter__link {
//             color: white;
//             text-decoration: none;
//             position: relative;
//             display: inline-block;
//             padding-left: $base-spacing-unit;
//             padding-right: $base-spacing-unit;

//             &::after {
//                 content: '';
//                 position: absolute;
//                 right: -($half-spacing-unit * 1.5);
//                 color: white;
//                 font-size: $half-spacing-unit;
//                 top: 50%;
//                 transform: translateY(-50%);
//             }

//             &.desc::after {
//                 content: '(desc)';
//             }

//             &.asc::after {
//                 content: '(asc)';
//             }

//         }
//     }
// }
.list {
    display: flex;
    width: 100%;
    .listContainer {
      flex: 6;
    }
  }
  