.doctor-navbar {
    z-index:100;
    top :0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2rem;
    color:#43848a;
    width:100%;
    height: 4.2rem;

    .logo{
        display:flex;
        align-items: center;

        span{
            font-weight: 700;
            font-size: xx-large;
            letter-spacing: 0.2rem;
        }

    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;

        li {
            margin: 0 0.5rem;
            .active {
                background: linear-gradient(68.08deg, #9083D5 9.64%, #807593 92.49%);
                color: white;
            }

            button {
                border: none;
                font-weight: 800;
                box-shadow: inset 0 4px black;
                font-size: larger;
                padding: 0.4rem 1rem;
                background: linear-gradient(68.08deg, #9083D5 9.64%, #807593 92.49%);
                color: white;
                border-radius: 10px;
            }
            a {
                text-decoration: none;
                padding: 0.4rem 1rem;
                border-radius: 10px;
                color: black;
                font-size: larger;
                font-weight: 600;

            }
        }
    }
}